
<app-admin-header></app-admin-header>


<div class="container" style="margin-top: 20px;width:50%;">
    <h3 class="text-center"> creat new item</h3>
    <form [formGroup]="addProductForm" (ngSubmit)="addProduct()" >
        <div class="mb-3">
          <label for="Name" class="form-label">product Name</label>
          <input type="text" class="form-control" 
          formControlName="Name"
          id="name" 
           
          >
          <div *ngIf="f.Name.touched && f.Name.invalid" class="alert alert-danger">
            <div *ngIf="f.Name.errors.required">Name is required.</div>
            <div *ngIf="f.Name.errors.minlength">Name should be 3 character or more</div>
        </div>
        </div>

        <div class="mb-3">
          <label for="Category" class="form-label">product Category</label>
          <input type="text" class="form-control" 
          formControlName="Category"
          id="category" 
           
          >
          <div *ngIf="f.Category.touched && f.Category.invalid" class="alert alert-danger">
            <div *ngIf="f.Category.errors.required">Name is required.</div>
            <div *ngIf="f.Category.errors.minlength">Category should be 3 character or more</div>
        </div>
        </div>

        <div class="mb-3">
          <label for="Brand" class="form-label">product Brand</label>
          <input type="text" class="form-control" 
          formControlName="Brand"
          id="brand" 
           
          >
          <div *ngIf="f.Brand.touched && f.Brand.invalid" class="alert alert-danger">
            <div *ngIf="f.Brand.errors.required">Name is required.</div>
            <div *ngIf="f.Brand.errors.minlength">Brand should be 3 character or more</div>
        </div>
        </div>

        <div class="mb-3">
          <label for="Details" class="form-label">product Details</label>
          <input type="text" class="form-control" 
          formControlName="Details"
          id="details" 
           
          >
          <div *ngIf="f.Details.touched && f.Details.invalid" class="alert alert-danger">
            <div *ngIf="f.Details.errors.required">Details is required.</div>
            <div *ngIf="f.Details.errors.minlength">Details should be 20 character or more</div>
        </div>
        </div>

        <div class="mb-3">
          <label for="Price" class="form-label">Price </label>
          <input type="text" class="form-control" 
          formControlName="Price"
          id="price" 
           
          >
          <div *ngIf="f.Price.touched && f.Price.invalid" class="alert alert-danger">
            <div *ngIf="f.Price.errors.required">Price is required.</div>
            
        </div>
        </div>

        <div class="mb-3">
          <label for="Photo" class="form-label">Photo </label>
          <input type="file"
           class="form-control" 
          formControlName="Photo"
          id="photo" 
           (change)="onFileChange($event)"
          >
          <div *ngIf="f.Photo.touched && f.Photo.invalid" class="alert alert-danger">
            <div *ngIf="f.Photo.errors.required">image is required.</div>
            
        </div>
        </div>
        <div class="mb-3" formArrayName="Sizes">
          <div class="mb-3" >
            <button type="button" class="btn btn-sm btn-warning" (click)="onAddSizes()">add sizes</button>
            </div>
            <div class="mb-3" *ngFor="let size of formSizes;let i = index">
              <input type="text" class="form-control" [formControlName]="i">
            </div>
            <div *ngIf="f.Sizes.touched && f.Sizes.invalid"  class="alert alert-danger"></div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>





