
<div class="row">
    <div *ngFor="let item of products"  class="col-md-4">
        <div class="product-box product-wrap">
            <div class="img-wrapper">
                <div class="front">
                    <a href="product-page(no-sidebar).html"><img alt=""
                            [src]="item.photo.url"
                            class="img-fluid blur-up lazyload bg-img"></a>
                </div>
                <div class="cart-info cart-wrap">
                    <a href="javascript:void(0)" title="Add to Wishlist"><i class="fa fa-heart"
                            aria-hidden="true"></i></a>
                    <button title="Add to cart" onclick="openCart()"><i class="ti-shopping-cart"></i>
                        Add to cart</button>
                    <a href="compare.html" title="Compare"><i class="fa fa-refresh"
                            aria-hidden="true"></i></a>
                    <a class="mobile-quick-view" href="#" data-toggle="modal" data-target="#quick-view"
                        title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                </div>
                <div class="quick-view-part">
                    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                            class="ti-search" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="product-info">
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <a href="product-page(no-sidebar).html">
                    <h6>{{item.name}}</h6>
                </a>
                <h4> $ {{item.price}}</h4>
            </div>
        </div>
    </div>
</div>

