<div class="container-fluid text-center" fxFill>
    <div class="row"fxFill>
        <div class="col-md-6">
          <p class="details">
              شركة لبيع الملابس بالتجزئة تأسست في عام 2004 في الأردن حيث يتم استيراد الملابس الرجالية من أفضل المصانع في تركيا و الصين ويمكن للزبائن الحصول على منتجاتنا من خلال موقعنا الالكتروني أو من خلال موقعنا الكائن في مدينة جرش
          </p>
        </div>
        <div class="col-md-6">
            <img src="../../assets/images/2-539.jpg" class="rounded mx-auto d-block" alt="..."
             width="300" height="300">
        </div>

    </div>
</div>