<div class="container text-center">
    <p class="mat-display-2 mt-3 mb-3">اعادة ضبط كلمة المرور</p>
    <form [formGroup]="GetTokenForm" (ngSubmit)="getToken()">
      <mat-form-field class="mt-3 mb-3"> 
       <mat-label>الرجاء ادخال ايميل المستخدم</mat-label>
       <input matInput type="email" 
                formControlName="email"
                placeholder="example@yahoo.com">
                <button mat-icon-button matSuffix > 
                    <mat-icon>email</mat-icon>
                </button>
        <mat-error *ngIf="GetTokenForm.get('email').hasError('required') || GetTokenForm.get('email').hasError('pattern')">
            <p>يجب عليك ادخال اسم مستخدم صحيح</p>
        </mat-error>        
      </mat-form-field><br/>
      <button mat-raised-button color="warn" [disabled]="GetTokenForm.invalid">ارسال رمز التفعيل</button>
    </form>

</div>