<div class="container text-center">
 <p class="mt-3 mb-3 mat-display-3">
تعيين كلمة مرور جديدة
 </p>

 <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">

    <mat-form-field  class="mb-2 mt-2" >
        <mat-label>Password </mat-label>
        <input matInput [type]="hide ? 'password': 'text'"
        formControlName="password"
        placeholder="الرمز السري"> 
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
           <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         </button>
         <mat-error *ngIf="updatePasswordForm.get('password').touched && updatePasswordForm.get('password').hasError('requierd')"> 
          <p> يجب ادخال الرمز السري</p>
       </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field  class="mb-2" >
       <mat-label>Confirm Password </mat-label>
       <input matInput [type]="hide ? 'password': 'text'"
       formControlName="confirmPassword"
       placeholder=" تأكيد الرمز السري "> 
       <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="updatePasswordForm.get('confirmPassword').touched && 
        updatePasswordForm.get('confirmPassword').hasError('requierd')"> 
         <p> يجب تأكيد الرمز السري</p>
      </mat-error>
   </mat-form-field><br/>
   <button type="submit" [disabled]="updatePasswordForm.invalid"  mat-raised-button color='warn'>اعادة تعيين الرمز السري</button>

 </form>
</div>