.footer-container{
    background-color: #a5a58d;
    height: inherit;
    position: relative;   
    bottom: 0%;
    
}

.title{
    display: flex;
    align-items: center;

}
.title span{
    padding: 5px;
    color: white;
    font-size: 30px;
}
.developer{
    color: white;
    opacity: 0.9;
    position: absolute;
    top:50%
}
