<div class="footer-container">
    <div class="container text-center">
        <div class="row ">
            <div class="col ">
               <div class="title mt-4 mb-2">
                <img src="../../assets/images/a.png" width="50px" height="50px">
                <span >{{shopName|uppercase}}</span>
               </div>
               
                 
            </div>
            <div class="col">
                <p class="developer">انتاج و تطوير يوسف القادري</p>
            </div>
            <div class="col"></div>
        </div>
    </div>   
       
</div>

<!--   -->