<div class="container text-center">
<mat-card fxFill>
    <mat-card-title>
        <p class="mat-display-2"> اتصل بنا</p>

    </mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
            <mat-label>الاسم الأول</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>الاسم الأول</mat-label>
            <input matInput>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" 
            formControlName="Email"
            placeholder="example@yahoo.com">
            <button mat-icon-button matSuffix > 
                <mat-icon>email</mat-icon>
            </button>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>الموبايل</mat-label>
            <input matInput type="text" 
            formControlName="Email">
           
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>الرسالة</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <br/>
        <button type="submit" mat-flat-button color="warn">ارسال</button>
      </form>
    </mat-card-content>
</mat-card>
</div>