<div class="container">
    <table class="table tablehover">
        <tr>
            <th class="text-center">role id</th>
            <th class="text-center">role name</th>
            <th class="text-center">role concurrencyStamp </th>
            <th class="text-center">add users</th>
            
        </tr>
        <tr *ngFor="let r of roles">
            <td class="text-center">{{r.id}}</td>
            <td class="text-center">{{r.name}}</td>
            <td class="text-center">{{r.concurrencyStamp}}</td>
            <td class="text-center"><a href="" class="btn btn-link">add users</a></td>
        </tr>
    </table>
</div>
